{
  "openapi": "3.0.2",
  "servers": [
    {
      "url": "https://openapi.flowaccount.com/v1",
      "description": "Production - https://flowaccount.com"
    },
    {
      "url": "https://openapi.flowaccount.com/test",
      "description": "Sandbox - http://sandbox-new.flowaccount.com"
    }
  ],
  "info": {
    "version": "2-oas3",
    "title": "FlowAccount Open API",
    "description": "# Introduction \n\n**PostMan Collection** \n  (download link redacted — contained an embedded Postman access key)",
    "termsOfService": "https://flowadvance.com/policy/terms-of-use",
    "contact": {
      "email": "developer_support@flowaccount.com",
      "url": "https://www.flowaccount.com"
    }
  },
  "x-tagGroups": [
    {
      "name": "Sell Document",
      "tags": [
        "Quotations",
        "Billing Notes",
        "Tax Invoice",
        "Receipt",
        "Cash Invoice"
      ]
    },
    {
      "name": "Buy Document",
      "tags": [
        "Purchase Order",
        "Receiving Inventory"
      ]
    },
    {
      "name": "Expense Document",
      "tags": [
        "Expenses",
        "Withholding Tax"
      ]
    },
    {
      "name": "Journal Entry",
      "tags": [
        "Journal Entry",
        "Chart Of Accounts"
      ]
    },
    {
      "name": "Product and Contact",
      "tags": [
        "Product Master",
        "Products",
        "Contacts"
      ]
    },
    {
      "name": "My Company",
      "tags": [
        "Business Infomation",
        "Bank Channel"
      ]
    },
    {
      "name": "Authentication",
      "tags": [
        "Authentication"
      ]
    }
  ],
  "paths": {
    "/quotations": {
      "get": {
        "tags": [
          "Quotations"
        ],
        "summary": "Get all quotations documents.",
        "description": "เรียกดูข้อมูลเอกสารใบเสนอราคาทั้งหมดในระบบ",
        "parameters": [
          {
            "in": "query",
            "name": "currentPage",
            "description": "Query current page document quotations. <br>Example Pattern: <ex>/quotations?currentPage=1 </ex><ex>/quotations?currentPage=1&pageSize=20</ex>",
            "schema": {
              "type": "integer"
            }
          },
          {
            "in": "query",
            "name": "pageSize",
            "description": "Query document quotations list amount per page. <br>Example Pattern: <ex> /quotations?pageSize=20 </ex>",
            "schema": {
              "type": "integer"
            }
          },
          {
            "in": "query",
            "name": "searchString",
            "description": "Query document by Contact Name or Project Name or Document Serial. <br>Example Pattern: <ex> /quotations?searchString=QT2021010001</ex>",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "range",
            "description": "Query document range type. <br>0 = all<br>1 = Current Month<br>3 = Previous Month<br>5 = Date Range<br>7 = Current Year<br>9 = Previous Year<br>15 = Fiscal Year<br>Example Query Current Month: <ex> /quotations?pageSize=20&currentPage=1&range=1</ex>",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "month",
            "description": "Query document by month.<br>Example Query Previous Month: <ex> /quotations?pageSize=20&currentPage=1&range=1&month=5&year=2021</ex>",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "year",
            "description": "Query document by year.<br>Example Query Previous Year: <ex> /quotations?currentPage=1&pageSize=20&range=9&year=2020</ex>",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "startDate",
            "description": "Query document by startDate to endDate.<br>Example Query Date Range: <ex> /quotations?currentPage=1&pageSize=20&range=5&startDate=2021-05-20&endDate=2021-05-22</ex>",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "endDate",
            "description": "Query document by startDate to endDate.<br>Example Query Date Range: <ex> /quotations?currentPage=1&pageSize=20&range=5&startDate=2021-05-20&endDate=2021-05-22</ex>",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "default": "Bearer accessToken"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200 response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetDocumentResponse"
                }
              }
            }
          },
          "401": {
            "description": "401 response"
          },
          "500": {
            "description": "500 response"
          }
        }
      },
      "post": {
        "tags": [
          "Quotations"
        ],
        "summary": "Create quotations document.",
        "description": "สร้างเอกสารใบเสนอราคา เมื่อสร้างสำเร็จสถานะเอกสารจะอยู่ในสถานะ รออนุมัติ (awaiting) <br>ข้อมูลการสร้างเอกสารใบเสนอราคา : https://flowaccount.com/ultimateguide/guide/ใบเสนอราคา",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "default": "Bearer accessToken"
            }
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/SimpleDocument"
        },
        "responses": {
          "200": {
            "description": "200 response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SimpleDocumentResponse"
                }
              }
            }
          },
          "401": {
            "description": "401 response"
          },
          "500": {
            "description": "500 response"
          }
        }
      }
    },
    "/quotations/inline": {
      "post": {
        "tags": [
          "Quotations"
        ],
        "summary": "Create quotations document inline discount or inline vat.",
        "description": "สร้างเอกสารใบเสนอราคา แบบส่วนลด หรือ ภาษี แยกตามรายการสินค้า เมื่อสร้างสำเร็จสถานะเอกสารจะอยู่ในสถานะ รออนุมัติ (awaiting) <br>ข้อมูลการสร้างเอกสารใบเสนอราคา : https://flowaccount.com/ultimateguide/guide/ใบเสนอราคา",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "default": "Bearer accessToken"
            }
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/InlineDocument"
        },
        "responses": {
          "200": {
            "description": "200 response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InlineDocumentResponse"
                }
              }
            }
          },
          "401": {
            "description": "401 response"
          },
          "500": {
            "description": "500 response"
          }
        }
      }
    },
    "/quotations/{id}": {
      "get": {
        "tags": [
          "Quotations"
        ],
        "summary": "Get quotations document.",
        "description": "เรียกดูข้อมูลเอกสารใบเสนอราคาตามเลขที่เอกสารที่ต้องการ",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "default": "Bearer accessToken"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ID เอกสารใช้ recordId",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200 response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetDocumentResponse"
                }
              }
            }
          },
          "401": {
            "description": "401 response"
          },
          "500": {
            "description": "500 response"
          }
        }
      },
      "put": {
        "tags": [
          "Quotations"
        ],
        "summary": "Edit quotations document.",
        "description": "แก้ไขข้อมูลเอกสารใบเสนอราคา ตามเลขที่เอกสารที่ต้องการและเอกสารต้องเป็นสถานะ รออนุมัติ (Awaiting)",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "default": "Bearer accessToken"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ID เอกสารใช้ recordId",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/UpdateAllDocument"
        },
        "responses": {
          "200": {
            "description": "200 response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DocumentResponse"
                }
              }
            }
          },
          "401": {
            "description": "401 response"
          },
          "500": {
            "description": "500 response"
          }
        }
      },
      "delete": {
        "tags": [
          "Quotations"
        ],
        "summary": "Delete quotations document.",
        "description": "ลบ เอกสารใบเสนอราคาตามเลขที่เอกสารที่ต้องการ <br> ** การลบเอกสาร เอกสารต้องอยู่ในสถานะ รออนุมัติ ",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "default": "Bearer accessToken"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ID เอกสารใช้ recordId",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200 response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeleteResponse"
                }
              }
            }
          },
          "401": {
            "description": "401 response"
          },
          "500": {
            "description": "500 response"
          }
        }
      }
    },
    "/quotations/{id}/status/{statusId}": {
      "post": {
        "tags": [
          "Quotations"
        ],
        "summary": "Change status quotations document.",
        "description": "เปลี่ยนสถานะของเอกสารใบเสนอราคา สร้างเอกสารใหม่ครั้งแรกจะได้รับสถานะ รออนุมัติ (awaiting)",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "default": "Bearer accessToken"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ID เอกสารใช้ recordId"
          },
          {
            "name": "statusId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "เปลี่ยนสถานะเอกสารได้ 4 สถานะ <br> awaiting = รออนุมัติ <br> approved = อนุมัติ <br> approvedandprocessed = ดำเนินการแล้ว <br> rejected = ยกเลิก"
          }
        ],
        "responses": {
          "200": {
            "description": "200 response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DocumentResponse"
                }
              }
            }
          },
          "401": {
            "description": "401 response"
          },
          "500": {
            "description": "500 response"
          }
        }
      }
    },
    "/quotations/{id}/attachment": {
      "post": {
        "tags": [
          "Quotations"
        ],
        "summary": "Attachment quotations document.",
        "description": "แนบไฟล์ รูปภาพ หรือ เอกสารที่เกี่ยวข้อง ในเอกสารใบเสนอราคาตามเลขที่เอกสารที่ต้องการ",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "default": "Bearer accessToken"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "documentId หรือ recordId ของเอกสารที่ต้องการแนบ",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary",
                    "description": "รูปแบบ file ที่ใช้แนบในเอกสารเป็นแบบ Binary"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200 response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AttachmentResponse"
                }
              }
            }
          },
          "401": {
            "description": "401 response"
          },
          "500": {
            "description": "500 response"
          }
        }
      }
    },
    "/quotations/{id}/attachment/base64": {
      "post": {
        "tags": [
          "Quotations"
        ],
        "summary": "Base64 attachment quotations document",
        "description": "แนบไฟล์ รูปภาพ หรือ เอกสารที่เกี่ยวข้องในรูปแบบ base64 ในเอกสารใบเสนอราคาตามเลขที่เอกสารที่ต้องการ",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "default": "Bearer accessToken"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "documentId หรือ recordId ของเอกสารที่ต้องการแนบ",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/AttachmentBase64"
        },
        "responses": {
          "200": {
            "description": "200 response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AttachmentBase64Response"
                }
              }
            }
          },
          "401": {
            "description": "401 response"
          },
          "500": {
            "description": "500 response"
          }
        }
      }
    },
    "/quotations/{id}/export-pdf/base64": {
      "post": {
        "tags": [
          "Quotations"
        ],
        "summary": "Export quotation document as PDF",
        "description": "ส่งออกเอกสารใบเสนอราคาเป็นไฟล์ PDF ตามเลขที่เอกสารที่ต้องการ",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "default": "Bearer accessToken"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "documentId หรือ recordId ของเอกสารที่ต้องการส่งออก",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/ExportPdf"
        },
        "responses": {
          "200": {
            "description": "PDF content encoded as base64 string",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExportPdfResponse"
                }
              }
            }
          },
          "400": {
            "description": "400 response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExportPdfErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "401 response"
          },
          "500": {
            "description": "500 response"
          }
        }
      }
    },
    "/quotations/email-document": {
      "post": {
        "tags": [
          "Quotations"
        ],
        "summary": "Send email quotations document.",
        "description": "ส่งเอกสารใบเสนอราคา ผ่านทางอีเมล ตามเลขที่เอกสารที่ต้องการ",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "default": "Bearer accessToken"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200 response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SendEmailResponse"
                }
              }
            }
          },
          "401": {
            "description": "401 response"
          },
          "500": {
            "description": "500 response"
          }
        },
        "requestBody": {
          "$ref": "#/components/requestBodies/SendEmailSimple"
        }
      }
    },
    "/quotations/sharedocument": {
      "post": {
        "tags": [
          "Quotations"
        ],
        "summary": "Share link quotations document.",
        "description": "แชร์ลิงค์ เอกสารใบเสนอราคาที่ต้องการ จะได้รับลิงค์สำหรับแชร์และเรียกดูเอกสาร",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "default": "Bearer accessToken"
            }
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/ShareDocument"
        },
        "responses": {
          "200": {
            "description": "200 response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ShareDocumentResponse"
                }
              }
            }
          },
          "401": {
            "description": "401 response"
          },
          "500": {
            "description": "500 response"
          }
        }
      }
    },
    "/billing-notes": {
      "get": {
        "tags": [
          "Billing Notes"
        ],
        "summary": "Get all billing notes documents.",
        "description": "เรียกดูข้อมูลเอกสารใบวางบิลทั้งหมดในระบบ",
        "parameters": [
          {
            "in": "query",
            "name": "currentPage",
            "description": "Query current page document billing notes. <br>Example Pattern: <ex>/billing-notes?currentPage=1 </ex><ex>/billing-notes?currentPage=1&pageSize=20</ex>",
            "schema": {
              "type": "integer"
            }
          },
          {
            "in": "query",
            "name": "pageSize",
            "description": "Query document billing notes list amount per page. <br>Example Pattern: <ex> /billing-notes?pageSize=20 </ex>",
            "schema": {
              "type": "integer"
            }
          },
          {
            "in": "query",
            "name": "searchString",
            "description": "Query document by Contact Name or Project Name or Document Serial. <br>Example Pattern: <ex> /billing-notes?searchString=BL2021010001</ex>",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "range",
            "description": "Query document range type. <br>0 = all<br>1 = Current Month<br>3 = Previous Month<br>5 = Date Range<br>7 = Current Year<br>9 = Previous Year<br>15 = Fiscal Year<br>Example Query Current Month: <ex> /billing-notes?pageSize=20&currentPage=1&range=1</ex>",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "month",
            "description": "Query document by month.<br>Example Query Previous Month: <ex> /billing-notes?pageSize=20&currentPage=1&range=1&month=5&year=2021</ex>",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "year",
            "description": "Query document by year.<br>Example Query Previous Year: <ex> /billing-notes?currentPage=1&pageSize=20&range=9&year=2020</ex>",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "startDate",
            "description": "Query document by startDate to endDate.<br>Example Query Date Range: <ex> /billing-notes?currentPage=1&pageSize=20&range=5&startDate=2021-05-20&endDate=2021-05-22</ex>",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "endDate",
            "description": "Query document by startDate to endDate.<br>Example Query Date Range: <ex> /billing-notes?currentPage=1&pageSize=20&range=5&startDate=2021-05-20&endDate=2021-05-22</ex>",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "default": "Bearer accessToken"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200 response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetDocumentResponse"
                }
              }
            }
          },
          "401": {
            "description": "401 response"
          },
          "500": {
            "description": "500 response"
          }
        }
      },
      "post": {
        "tags": [
          "Billing Notes"
        ],
        "summary": "Create billing notes document.",
        "description": "สร้างเอกสารใบวางบิล เมื่อสร้างสำเร็จสถานะเอกสารจะอยู่ในสถานะ รอวาบิล (awaiting) <br>ข้อมูลการสร้างเอกสารใบวางบิล : https://flowaccount.com/ultimateguide/guide/ใบวางบิล-ใบแจ้งหนี้",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "default": "Bearer accessToken"
            }
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/SimpleDocument"
        },
        "responses": {
          "200": {
            "description": "200 response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SimpleDocumentResponse"
                }
              }
            }
          },
          "401": {
            "description": "401 response"
          },
          "500": {
            "description": "500 response"
          }
        }
      }
    },
    "/billing-notes/inline": {
      "post": {
        "tags": [
          "Billing Notes"
        ],
        "summary": "Create billing notes document inline discount or inline vat.",
        "description": "สร้างเอกสารใบวางบิล แบบส่วนลด หรือ ภาษี แยกตามรายการสินค้า เมื่อสร้างสำเร็จสถานะเอกสารจะอยู่ในสถานะ รอวางบิล (awaiting) <br> ข้อมูลการสร้างเอกสารใบวางบิล : https://flowaccount.com/ultimateguide/guide/ใบวางบิล-ใบแจ้งหนี้",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "default": "Bearer accessToken"
            }
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/InlineDocument"
        },
        "responses": {
          "200": {
            "description": "200 response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InlineDocumentResponse"
                }
              }
            }
          },
          "401": {
            "description": "401 response"
          },
          "500": {
            "description": "500 response"
          }
        }
      }
    },
    "/upgrade/billing-notes": {
      "post": {
        "tags": [
          "Billing Notes"
        ],
        "summary": "Upgrade quotation document to billing notes document.",
        "description": "สร้างเอกสารใบวางบิล เมื่อสร้างสำเร็จสถานะเอกสารจะอยู่ในสถานะ รอวาบิล (awaiting) <br>ข้อมูลการสร้างเอกสารใบวางบิล : https://flowaccount.com/ultimateguide/guide/ใบวางบิล-ใบแจ้งหนี้",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "default": "Bearer accessToken"
            }
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/UpgradeSimpleDocument"
        },
        "responses": {
          "200": {
            "description": "200 response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SimpleDocumentResponse"
                }
              }
            }
          },
          "401": {
            "description": "401 response"
          },
          "500": {
            "description": "500 response"
          }
        }
      }
    },
    "/upgrade/billing-notes/inline": {
      "post": {
        "tags": [
          "Billing Notes"
        ],
        "summary": "Upgrade quotation document to billing notes document. inline discount or inline vat.",
        "description": "สร้างเอกสารใบวางบิล แบบส่วนลด หรือ ภาษี แยกตามรายการสินค้า เมื่อสร้างสำเร็จสถานะเอกสารจะอยู่ในสถานะ รอวางบิล (awaiting) <br>ข้อมูลการสร้างเอกสารใบวางบิล : https://flowaccount.com/ultimateguide/guide/ใบวางบิล-ใบแจ้งหนี้",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "default": "Bearer accessToken"
            }
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/UpgradeInlineDocument"
        },
        "responses": {
          "200": {
            "description": "200 response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InlineDocumentResponse"
                }
              }
            }
          },
          "401": {
            "description": "401 response"
          },
          "500": {
            "description": "500 response"
          }
        }
      }
    },
    "/billing-notes/{id}": {
      "get": {
        "tags": [
          "Billing Notes"
        ],
        "summary": "Get billing notes document.",
        "description": "เรียกดูข้อมูลเอกสารใบวางบิลตามเลขที่เอกสารที่ต้องการ",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "default": "Bearer accessToken"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ID เอกสารใช้ recordId",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200 response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetDocumentResponse"
                }
              }
            }
          },
          "401": {
            "description": "401 response"
          },
          "500": {
            "description": "500 response"
          }
        }
      },
      "put": {
        "tags": [
          "Billing Notes"
        ],
        "summary": "Edit billing notes document.",
        "description": "แก้ไขข้อมูลเอกสารใบวางบิล ตามเลขที่เอกสารที่ต้องการและเอกสารต้องเป็นสถานะ รอวางบิล (Awaiting)",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "default": "Bearer accessToken"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ID เอกสารใช้ recordId",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/UpdateAllDocument"
        },
        "responses": {
          "200": {
            "description": "200 response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DocumentResponse"
                }
              }
            }
          },
          "401": {
            "description": "401 response"
          },
          "500": {
            "description": "500 response"
          }
        }
      },
      "delete": {
        "tags": [
          "Billing Notes"
        ],
        "summary": "Delete billing notes document.",
        "description": "ลบ เอกสารใบวางบิล ตามเลขที่เอกสารที่ต้องการ <br> ** การลบเอกสาร เอกสารต้องอยู่ในสถานะ รอวางบิล ",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "default": "Bearer accessToken"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ID เอกสารใช้ recordId",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200 response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeleteResponse"
                }
              }
            }
          },
          "401": {
            "description": "401 response"
          },
          "500": {
            "description": "500 response"
          }
        }
      }
    },
    "/billing-notes/{id}/status/{statusId}": {
      "post": {
        "tags": [
          "Billing Notes"
        ],
        "summary": "Change status billing notes document.",
        "description": "เปลี่ยนสถานะของเอกสารใบวางบิล สร้างเอกสารใหม่ครั้งแรกจะได้รับสถานะ รอวางบิล (awaiting)",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "default": "Bearer accessToken"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ID เอกสารใช้ recordId"
          },
          {
            "name": "statusId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "เปลี่ยนสถานะเอกสารได้ 4 สถานะ <br> awaiting = รอวางบิล <br> approved = วางบิลแล้ว <br> approvedandprocessed = เปิดบิลแล้ว <br> void = ยกเลิก"
          }
        ],
        "responses": {
          "200": {
            "description": "200 response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DocumentResponse"
                }
              }
            }
          },
          "401": {
            "description": "401 response"
          },
          "500": {
            "description": "500 response"
          }
        }
      }
    },
    "/billing-notes/{id}/attachment": {
      "post": {
        "tags": [
          "Billing Notes"
        ],
        "summary": "Attachment billing notes document.",
        "description": "แนบไฟล์ รูปภาพ หรือ เอกสารที่เกี่ยวข้อง ในเอกสารใบวางบิลตามเลขที่เอกสารที่ต้องการ",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "default": "Bearer accessToken"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "documentId หรือ recordId ของเอกสารที่ต้องการแนบ",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary",
                    "description": "รูปแบบ file ที่ใช้แนบในเอกสารเป็นแบบ Binary"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200 response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AttachmentResponse"
                }
              }
            }
          },
          "401": {
            "description": "401 response"
          },
          "500": {
            "description": "500 response"
          }
        }
      }
    },
    "/billing-notes/{id}/attachment/base64": {
      "post": {
        "tags": [
          "Billing Notes"
        ],
        "summary": "Base64 attachment billing notes document.",
        "description": "แนบไฟล์ รูปภาพ หรือ เอกสารที่เกี่ยวข้องในรูปแบบ base64 ในเอกสารใบวางบิลตามเลขที่เอกสารที่ต้องการ",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "default": "Bearer accessToken"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "documentId หรือ recordId ของเอกสารที่ต้องการแนบ",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/AttachmentBase64"
        },
        "responses": {
          "200": {
            "description": "200 response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AttachmentBase64Response"
                }
              }
            }
          },
          "401": {
            "description": "401 response"
          },
          "500": {
            "description": "500 response"
          }
        }
      }
    },
    "/billing-notes/{id}/export-pdf/base64": {
      "post": {
        "tags": [
          "Billing Notes"
        ],
        "summary": "Export billing notes document as PDF",
        "description": "ส่งออกเอกสารใบวางบิลเป็นไฟล์ PDF ตามเลขที่เอกสารที่ต้องการ",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "default": "Bearer accessToken"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "documentId หรือ recordId ของเอกสารที่ต้องการส่งออก",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/ExportPdf"
        },
        "responses": {
          "200": {
            "description": "PDF content encoded as base64 string",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExportPdfResponse"
                }
              }
            }
          },
          "400": {
            "description": "400 response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExportPdfErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "401 response"
          },
          "500": {
            "description": "500 response"
          }
        }
      }
    },
    "/billing-notes/email-document": {
      "post": {
        "tags": [
          "Billing Notes"
        ],
        "summary": "Send email billing notes document.",
        "description": "ส่งเอกสารใบวางบิล ผ่านทางอีเมล ตามเลขที่เอกสารที่ต้องการ",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "default": "Bearer accessToken"
            }
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/SendEmailCoppies"
        },
        "responses": {
          "200": {
            "description": "200 response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SendEmailResponse"
                }
              }
            }
          },
          "401": {
            "description": "401 response"
          },
          "500": {
            "description": "500 response"
          }
        }
      }
    },
    "/billing-notes/sharedocument": {
      "post": {
        "tags": [
          "Billing Notes"
        ],
        "summary": "Share link billing notes document.",
        "description": "แชร์ลิงค์ เอกสารใบวางบิลที่ต้องการ จะได้รับลิงค์สำหรับแชร์และเรียกดูเอกสาร",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "default": "Bearer accessToken"
            }
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/ShareDocument"
        },
        "responses": {
          "200": {
            "description": "200 response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ShareDocumentResponse"
                }
              }
            }
          },
          "401": {
            "description": "401 response"
          },
          "500": {
            "description": "500 response"
          }
        }
      }
    },
    "/tax-invoices": {
      "get": {
        "tags": [
          "Tax Invoice"
        ],
        "summary": "Get all tax invoice documents.",
        "description": "เรียกดูข้อมูลเอกสารใบกำกับภาษี หรือ ใบกำกับภาษี/ใบเสร็จรับเงิน ทั้งหมดในระบบ",
        "parameters": [
          {
            "in": "query",
            "name": "currentPage",
            "description": "Query current page document tax invoices. <br>Example Pattern: <ex>/tax-invoices?currentPage=1 </ex><ex>/tax-invoices?currentPage=1&pageSize=20</ex>",
            "schema": {
              "type": "integer"
            }
          },
          {
            "in": "query",
            "name": "pageSize",
            "description": "Query document tax invoices list amount per page. <br>Example Pattern: <ex> /tax-invoices?pageSize=20 </ex>",
            "schema": {
              "type": "integer"
            }
          },
          {
            "in": "query",
            "name": "searchString",
            "description": "Query document by Contact Name or Project Name or Document Serial. <br>Example Pattern: <ex> /tax-invoices?searchString=INV2021010001</ex>",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "range",
            "description": "Query document range type. <br>0 = all<br>1 = Current Month<br>3 = Previous Month<br>5 = Date Range<br>7 = Current Year<br>9 = Previous Year<br>15 = Fiscal Year<br>Example Query Current Month: <ex> /tax-invoices?pageSize=20&currentPage=1&range=1</ex>",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "month",
            "description": "Query document by month.<br>Example Query Previous Month: <ex> /tax-invoices?pageSize=20&currentPage=1&range=1&month=5&year=2021</ex>",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "year",
            "description": "Query document by year.<br>Example Query Previous Year: <ex> /tax-invoices?currentPage=1&pageSize=20&range=9&year=2020</ex>",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "startDate",
            "description": "Query document by startDate to endDate.<br>Example Query Date Range: <ex> /tax-invoices?currentPage=1&pageSize=20&range=5&startDate=2021-05-20&endDate=2021-05-22</ex>",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "endDate",
            "description": "Query document by startDate to endDate.<br>Example Query Date Range: <ex> /tax-invoices?currentPage=1&pageSize=20&range=5&startDate=2021-05-20&endDate=2021-05-22</ex>",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "default": "Bearer accessToken"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200 response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetDocumentResponse"
                }
              }
            }
          },
          "401": {
            "description": "401 response"
          },
          "500": {
            "description": "500 response"
          }
        }
      },
      "post": {
        "tags": [
          "Tax Invoice"
        ],
        "summary": "Create tax invoice document.",
        "description": "สร้างเอกสารใบกำกับภาษี หรือ ใบกำกับภาษี/ใบเสร็จรับเงิน เมื่อสร้างสำเร็จสถานะเอกสารจะอยู่ในสถานะ รอดำเนินการ (awaiting) <br> ข้อมูลการสร้างเอกสารใบกำกับภาษี : https://flowaccount.com/ultimateguide/guide/ใบกำกับภาษี",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "default": "Bearer accessToken"
            }
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/SimpleDocument"
        },
        "responses": {
          "200": {
            "description": "200 response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SimpleDocumentResponse"
                }
              }
            }
          },
          "401": {
            "description": "401 response"
          },
          "500": {
            "description": "500 response"
          }
        }
      }
    },
    "/tax-invoices/with-payment": {
      "post": {
        "tags": [
          "Tax Invoice"
        ],
        "summary": "Create tax invoice document with payment.",
        "description": "สร้างเอกสารใบกำกับภาษี หรือ ใบกำกับภาษี/ใบเสร็จรับเงิน พร้อมเก็บเงิน เมื่อสร้างสำเร็จสถานะเอกสารจะอยู่ในสถานะ เก็บเงินแล้ว (paid)<br> ข้อมูลการสร้างเอกสารใบกำกับภาษี : https://flowaccount.com/ultimateguide/guide/ใบกำกับภาษี",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "default": "Bearer accessToken"
            }
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/SimpleDocumentWithPaymentReceiving"
        },
        "responses": {
          "200": {
            "description": "200 response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SimpleDocumentWithPaymentResponse"
                }
              }
            }
          },
          "401": {
            "description": "401 response"
          },
          "500": {
            "description": "500 response"
          }
        }
      }
    },
    "/tax-invoices/inline": {
      "post": {
        "tags": [
          "Tax Invoice"
        ],
        "summary": "Create tax invoice document inline discount or inline vat.",
        "description": "สร้างเอกสารใบกำกับภาษี หรือ ใบกำกับภาษี/ใบเสร็จรับเงิน แบบส่วนลด หรือ ภาษี แยกตามรายการสินค้า เมื่อสร้างสำเร็จสถานะเอกสารจะอยู่ในสถานะ รอดำเนินการ (awaiting) <br> ข้อมูลการสร้างเอกสารใบกำกับภาษี : https://flowaccount.com/ultimateguide/guide/ใบกำกับภาษี",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "default": "Bearer accessToken"
            }
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/InlineDocument"
        },
        "responses": {
          "200": {
            "description": "200 response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InlineDocumentResponse"
                }
              }
            }
          },
          "401": {
            "description": "401 response"
          },
          "500": {
            "description": "500 response"
          }
        }
      }
    },
    "/tax-invoices/inline/with-payment": {
      "post": {
        "tags": [
          "Tax Invoice"
        ],
        "summary": "Create tax invoice document inline discount or inline vat with payment.",
        "description": "สร้างเอกสารใบกำกับภาษี หรือ ใบกำกับภาษี/ใบเสร็จรับเงิน แบบส่วนลด หรือ ภาษี แยกตามรายการสินค้าพร้อมเก็บเงิน <br>เมื่อสร้างสำเร็จสถานะเอกสารจะอยู่ในสถานะ เก็บเงินแล้ว (paid)<br> ข้อมูลการสร้างเอกสารใบกำกับภาษี : https://flowaccount.com/ultimateguide/guide/ใบกำกับภาษี",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "default": "Bearer accessToken"
            }
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/InlineDocumentWithPaymentReceiving"
        },
        "responses": {
          "200": {
            "description": "200 response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InlineDocumentWithPaymentResponse"
                }
              }
            }
          },
          "401": {
            "description": "401 response"
          },
          "500": {
            "description": "500 response"
          }
        }
      }
    },
    "/upgrade/tax-invoices": {
      "post": {
        "tags": [
          "Tax Invoice"
        ],
        "summary": "Upgrade quotation or billing notes to tax-invoices document.",
        "description": "สร้างเอกสารใบกำกับภาษี หรือ ใบกำกับภาษี/ใบเสร็จรับเงิน เมื่อสร้างสำเร็จสถานะเอกสารจะอยู่ในสถานะ รอดำเนินการ (awaiting) <br> ข้อมูลการสร้างเอกสารใบกำกับภาษี : https://flowaccount.com/ultimateguide/guide/ใบกำกับภาษี",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "default": "Bearer accessToken"
            }
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/UpgradeSimpleDocument"
        },
        "responses": {
          "200": {
            "description": "200 response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SimpleDocumentResponse"
                }
              }
            }
          },
          "401": {
            "description": "401 response"
          },
          "500": {
            "description": "500 response"
          }
        }
      }
    },
    "/upgrade/tax-invoices/with-payment": {
      "post": {
        "tags": [
          "Tax Invoice"
        ],
        "summary": "Upgrade quotation or billing notes to tax-invoices document with payment.",
        "description": "สร้างเอกสารใบกำกับภาษี หรือ ใบกำกับภาษี/ใบเสร็จรับเงิน เมื่อสร้างสำเร็จสถานะเอกสารจะอยู่ในสถานะ รอดำเนินการ (awaiting) <br> ข้อมูลการสร้างเอกสารใบกำกับภาษี : https://flowaccount.com/ultimateguide/guide/ใบกำกับภาษี",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "default": "Bearer accessToken"
            }
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/UpgradeSimpleDocumentWithPaymentReceiving"
        },
        "responses": {
          "200": {
            "description": "200 response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SimpleDocumentWithPaymentResponse"
                }
              }
            }
          },
          "401": {
            "description": "401 response"
          },
          "500": {
            "description": "500 response"
          }
        }
      }
    },
    "/upgrade/tax-invoices/inline": {
      "post": {
        "tags": [
          "Tax Invoice"
        ],
        "summary": "Upgrade quotation or billing notes to tax-invoices inline discount or inline vat.",
        "description": "สร้างเอกสารใบกำกับภาษี หรือ ใบกำกับภาษี/ใบเสร็จรับเงิน แบบส่วนลด หรือ ภาษี แยกตามรายการสินค้า เมื่อสร้างสำเร็จสถานะเอกสารจะอยู่ในสถานะ รอดำเนินการ (awaiting) <br> ข้อมูลการสร้างเอกสารใบกำกับภาษี : https://flowaccount.com/ultimateguide/guide/ใบกำกับภาษี",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "default": "Bearer accessToken"
            }
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/UpgradeInlineDocument"
        },
        "responses": {
          "200": {
            "description": "200 response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InlineDocumentResponse"
                }
              }
            }
          },
          "401": {
            "description": "401 response"
          },
          "500": {
            "description": "500 response"
          }
        }
      }
    },
    "/upgrade/tax-invoices/inline/with-payment": {
      "post": {
        "tags": [
          "Tax Invoice"
        ],
        "summary": "Upgrade quotation or billing notes to tax-invoices inline discount or inline vat with payment.",
        "description": "สร้างเอกสารใบกำกับภาษี หรือ ใบกำกับภาษี/ใบเสร็จรับเงิน แบบส่วนลด หรือ ภาษี แยกตามรายการสินค้า เมื่อสร้างสำเร็จสถานะเอกสารจะอยู่ในสถานะ รอดำเนินการ (awaiting) <br> ข้อมูลการสร้างเอกสารใบกำกับภาษี : https://flowaccount.com/ultimateguide/guide/ใบกำกับภาษี",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "default": "Bearer accessToken"
            }
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/UpgradeInlineDocumentWithPaymentReceiving"
        },
        "responses": {
          "200": {
            "description": "200 response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InlineDocumentWithPaymentResponse"
                }
              }
            }
          },
          "401": {
            "description": "401 response"
          },
          "500": {
            "description": "500 response"
          }
        }
      }
    },
    "/tax-invoices/{id}": {
      "get": {
        "tags": [
          "Tax Invoice"
        ],
        "summary": "Get tax invoices document.",
        "description": "เรียกดูข้อมูลเอกสารใบกำกับภาษี หรือ ใบกำกับภาษี/ใบเสร็จรับเงิน ตามเลขที่เอกสารที่ต้องการ",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "default": "Bearer accessToken"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ID เอกสารใช้ recordId",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200 response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetDocumentResponse"
                }
              }
            }
          },
          "401": {
            "description": "401 response"
          },
          "500": {
            "description": "500 response"
          }
        }
      },
      "put": {
        "tags": [
          "Tax Invoice"
        ],
        "summary": "Edit tax invoices document.",
        "description": "แก้ไขข้อมูลเอกสารใบกำกับภาษี ตามเลขที่เอกสารที่ต้องการและเอกสารต้องเป็นสถานะ รอดำเนินการ (Awaiting)",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "default": "Bearer accessToken"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ID เอกสารใช้ recordId",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/UpdateAllDocument"
        },
        "responses": {
          "200": {
            "description": "200 response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DocumentResponse"
                }
              }
            }
          },
          "401": {
            "description": "401 response"
          },
          "500": {
            "description": "500 response"
          }
        }
      },
      "delete": {
        "tags": [
          "Tax Invoice"
        ],
        "summary": "Delete tax invoices document.",
        "description": "ลบ เอกสารใบกำกับภาษี หรือ ใบกำกับภาษี/ใบเสร็จรับเงิน ตามเลขที่เอกสารที่ต้องการ <br> ** การลบเอกสาร เอกสารต้องอยู่ในสถานะรอดำเนินการ ",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "default": "Bearer accessToken"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ID เอกสารใช้ recordId",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200 response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeleteResponse"
                }
              }
            }
          },
          "401": {
            "description": "401 response"
          },
          "500": {
            "description": "500 response"
          }
        }
      }
    },
    "/tax-invoices/{id}/status/{statusId}": {
      "post": {
        "tags": [
          "Tax Invoice"
        ],
        "summary": "Change status tax invoices document.",
        "description": "เปลี่ยนสถานะของเอกสารเอกสารใบกำกับภาษี หรือ ใบกำกับภาษี/ใบเสร็จรับเงิน สร้างเอกสารใหม่ครั้งแรกจะได้รับสถานะ รอดำเนินการ (awaiting)",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "default": "Bearer accessToken"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ID เอกสารใช้ recordId"
          },
          {
            "name": "statusId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "เปลี่ยนสถานะเอกสารได้ 3 สถานะ <br> awaiting = รอดำเนินการ <br> invoicedelivered = รอเก็บเงิน <br> void = ยกเลิก"
          }
        ],
        "responses": {
          "200": {
            "description": "200 response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DocumentResponse"
                }
              }
            }
          },
          "401": {
            "description": "401 response"
          },
          "500": {
            "description": "500 response"
          }
        }
      }
    },
    "/tax-invoices/{id}/payment": {
      "post": {
        "tags": [
          "Tax Invoice"
        ],
        "summary": "Change status is paid tax-invoice document.",
        "description": "เก็บเงิน เอกสารใบกำกับภาษี/ใบเสร็จรับเงิน เปลี่ยนสถานะเป็น เก็บเงินแล้ว",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "default": "Bearer accessToken"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ID เอกสารใช้ recordId หรือ documentId",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/PaymentReceivingDocument"
        },
        "responses": {
          "200": {
            "description": "200 response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DocumentResponse"
                }
              }
            }
          },
          "401": {
            "description": "401 response"
          },
          "500": {
            "description": "500 response"
          }
        }
      }
    },
    "/tax-invoices/{id}/attachment": {
      "post": {
        "tags": [
          "Tax Invoice"
        ],
        "summary": "Attachment tax Invoices document.",
        "description": "แนบไฟล์ รูปภาพ หรือ เอกสารที่เกี่ยวข้อง ในเอกสารใบกำกับภาษี หรือ ใบกำกับภาษี/ใบเสร็จรับเงิน ตามเลขที่เอกสารที่ต้องการ",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "default": "Bearer accessToken"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "documentId หรือ recordId ของเอกสารที่ต้องการแนบ",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary",
                    "description": "รูปแบบ file ที่ใช้แนบในเอกสารเป็นแบบ Binary"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200 response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AttachmentResponse"
                }
              }
            }
          },
          "401": {
            "description": "401 response"
          },
          "500": {
            "description": "500 response"
          }
        }
      }
    },
    "/tax-invoices/{id}/attachment/base64": {
      "post": {
        "tags": [
          "Tax Invoice"
        ],
        "summary": "Base64 attachment tax Invoices document.",
        "description": "แนบไฟล์ รูปภาพ หรือ เอกสารที่เกี่ยวข้องในรูปแบบ base64 ในเอกสารใบกำกับภาษี หรือ ใบกำกับภาษี/ใบเสร็จรับเงิน ตามเลขที่เอกสารที่ต้องการ",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "default": "Bearer accessToken"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "documentId หรือ recordId ของเอกสารที่ต้องการแนบ",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/AttachmentBase64"
        },
        "responses": {
          "200": {
            "description": "200 response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AttachmentBase64Response"
                }
              }
            }
          },
          "401": {
            "description": "401 response"
          },
          "500": {
            "description": "500 response"
          }
        }
      }
    },
    "/tax-invoices/{id}/export-pdf/base64": {
      "post": {
        "tags": [
          "Tax Invoice"
        ],
        "summary": "Export tax invoice document as PDF",
        "description": "ส่งออกเอกสารใบกำกับภาษีเป็นไฟล์ PDF ตามเลขที่เอกสารที่ต้องการ สามารถเลือกรวมส่วนใบเสร็จรับเงินในเอกสาร PDF เดียวกันได้",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "default": "Bearer accessToken"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "documentId หรือ recordId ของเอกสารที่ต้องการส่งออก",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/ExportPdfTaxInvoice"
        },
        "responses": {
          "200": {
            "description": "PDF content encoded as base64 string",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExportPdfResponse"
                }
              }
            }
          },
          "400": {
            "description": "400 response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExportPdfErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "401 response"
          },
          "500": {
            "description": "500 response"
          }
        }
      }
    },
    "/tax-invoices/email-document": {
      "post": {
        "tags": [
          "Tax Invoice"
        ],
        "summary": "Send Email tax invoice document",
        "description": "ส่งเอกสารใบกำกับภาษี หรือ ใบกำกับภาษี/ใบเสร็จรับเงิน ผ่านทางอีเมล ตามเลขที่เอกสารที่ต้องการ",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "default": "Bearer accessToken"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200 response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SendEmailResponse"
                }
              }
            }
          },
          "401": {
            "description": "401 response"
          },
          "500": {
            "description": "500 response"
          }
        },
        "requestBody": {
          "$ref": "#/components/requestBodies/SendEmailCoppies"
        }
      }
    },
    "/tax-invoices/sharedocument": {
      "post": {
        "tags": [
          "Tax Invoice"
        ],
        "summary": "Share link tax invoice document.",
        "description": "แชร์ลิงค์ เอกสารใบกำกับภาษี หรือ ใบกำกับภาษี/ใบเสร็จรับเงิน ที่ต้องการ จะได้รับลิงค์สำหรับแชร์และเรียกดูเอกสาร",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "default": "Bearer accessToken"
            }
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/ShareDocument"
        },
        "responses": {
          "200": {
            "description": "200 response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ShareDocumentResponse"
                }
              }
            }
          },
          "401": {
            "description": "401 response"
          },
          "500": {
            "description": "500 response"
          }
        }
      }
    },
    "/receipts": {
      "get": {
        "tags": [
          "Receipt"
        ],
        "summary": "Get all receipt documents",
        "description": "เรียกดูข้อมูลเอกสารใบเสร็จรับเงิน ทั้งหมดในระบบ",
        "parameters": [
          {
            "in": "query",
            "name": "currentPage",
            "description": "Query current page document receipts. <br>Example Pattern: <ex>/receipts?currentPage=1 </ex><ex>/receipts?currentPage=1&pageSize=20</ex>",
            "schema": {
              "type": "integer"
            }
          },
          {
            "in": "query",
            "name": "pageSize",
            "description": "Query document receipts list amount per page. <br>Example Pattern: <ex> /receipts?pageSize=20 </ex>",
            "schema": {
              "type": "integer"
            }
          },
          {
            "in": "query",
            "name": "searchString",
            "description": "Query document by Contact Name or Project Name or Document Serial. <br>Example Pattern: <ex> /receipts?searchString=RE2021010001</ex>",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "range",
            "description": "Query document range type. <br>0 = all<br>1 = Current Month<br>3 = Previous Month<br>5 = Date Range<br>7 = Current Year<br>9 = Previous Year<br>15 = Fiscal Year<br>Example Query Current Month: <ex> /receipts?pageSize=20&currentPage=1&range=1</ex>",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "month",
            "description": "Query document by month.<br>Example Query Previous Month: <ex> /receipts?pageSize=20&currentPage=1&range=1&month=5&year=2021</ex>",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "year",
            "description": "Query document by year.<br>Example Query Previous Year: <ex> /receipts?currentPage=1&pageSize=20&range=9&year=2020</ex>",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "startDate",
            "description": "Query document by startDate to endDate.<br>Example Query Date Range: <ex> /receipts?currentPage=1&pageSize=20&range=5&startDate=2021-05-20&endDate=2021-05-22</ex>",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "endDate",
            "description": "Query document by startDate to endDate.<br>Example Query Date Range: <ex> /receipts?currentPage=1&pageSize=20&range=5&startDate=2021-05-20&endDate=2021-05-22</ex>",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "header",
            "name": "Authorization",
            "required": true,
            "schema": {
              "type": "string",
              "default": "Bearer accessToken"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200 response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetDocumentResponse"
                }
              }
            }
          },
          "401": {
            "description": "401 response"
          },
          "500": {
            "description": "500 response"
          }
        }
      }
    },
    "/upgrade/receipts": {
      "post": {
        "tags": [
          "Receipt"
        ],
        "summary": "Upgrade tax-invoices to receipts document.",
        "description": "สร้างเอกสารใบเสร็จรับเงิน เมื่อสร้างสำเร็จสถานะเอกสารจะอยู่ในสถานะ รอดำเนินการ (awaiting) <br>ข้อมูลการสร้างเอกสารใบเสร็จรับเงิน : https://flowaccount.com/ultimateguide/guide/ใบเสร็จรับเงิน",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "default": "Bearer accessToken"
            }
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/UpgradeSimpleDocument"
        },
        "responses": {
          "200": {
            "description": "200 response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SimpleDocumentResponse"
                }
              }
            }
          },
          "401": {
            "description": "401 response"
          },
          "500": {
            "description": "500 response"
          }
        }
      }
    },
    "/upgrade/receipts/with-payment": {
      "post": {
        "tags": [
          "Receipt"
        ],
        "summary": "Upgrade tax-invoices to receipts document with payment.",
        "description": "สร้างเอกสารใบเสร็จรับเงิน พร้อมเก็บเงิน เมื่อสร้างสำเร็จสถานะเอกสารจะอยู่ในสถานะ เก็บเงินแล้ว (paid)<br>ข้อมูลการสร้างเอกสารใบเสร็จรับเงิน : https://flowaccount.com/ultimateguide/guide/ใบเสร็จรับเงิน",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "default": "Bearer accessToken"
            }
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/UpgradeSimpleDocumentWithPaymentReceiving"
        },
        "responses": {
          "200": {
            "description": "200 response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SimpleDocumentWithPaymentResponse"
                }
              }
            }
          },
          "401": {
            "description": "401 response"
          },
          "500": {
            "description": "500 response"
          }
        }
      }
    },
    "/upgrade/receipts/inline": {
      "post": {
        "tags": [
          "Receipt"
        ],
        "summary": "Upgrade tax-invoices to receipts inline discount or inline vat.",
        "description": "สร้างเอกสารใบเสร็จรับเงิน แบบส่วนลด หรือ ภาษี แยกตามรายการสินค้า เมื่อสร้างสำเร็จสถานะเอกสารจะอยู่ในสถานะ รอดำเนินการ (awaiting) <br>ข้อมูลการสร้างเอกสารใบเสร็จรับเงิน : https://flowaccount.com/ultimateguide/guide/ใบเสร็จรับเงิน",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "default": "Bearer accessToken"
            }
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/UpgradeInlineDocument"
        },
        "responses": {
          "200": {
            "description": "200 response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InlineDocumentResponse"
                }
              }
            }
          },
          "401": {
            "description": "401 response"
          },
          "500": {
            "description": "500 response"
          }
        }
      }
    },
    "/upgrade/receipts/inline/with-payment": {
      "post": {
        "tags": [
          "Receipt"
        ],
        "summary": "Upgrade tax-invoices to receipts inline discount or inline vat with payment.",
        "description": "สร้างเอกสารใบเสร็จรับเงิน แบบส่วนลด หรือ ภาษี แยกตามรายการสินค้าพร้อมเก็บเงิน <br>เมื่อสร้างสำเร็จสถานะเอกสารจะอยู่ในสถานะ เก็บเงินแล้ว (paid)<br>ข้อมูลการสร้างเอกสารใบเสร็จรับเงิน : https://flowaccount.com/ultimateguide/guide/ใบเสร็จรับเงิน",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "default": "Bearer accessToken"
            }
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/UpgradeInlineDocumentWithPaymentReceiving"
        },
        "responses": {
          "200": {
            "description": "200 response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InlineDocumentWithPaymentResponse"
                }
              }
            }
          },
          "401": {
            "description": "401 response"
          },
          "500": {
            "description": "500 response"
          }
        }
      }
    },
    "/receipts/{id}": {
      "get": {
        "tags": [
          "Receipt"
        ],
        "summary": "Get receipt document.",
        "description": "เรียกดูข้อมูลเอกสารใบเสร็จรับเงิน ตามเลขที่เอกสารที่ต้องการ",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "default": "Bearer accessToken"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ID เอกสารใช้ recordId",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200 response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetDocumentResponse"
                }
              }
            }
          },
          "401": {
            "description": "401 response"
          },
          "500": {
            "description": "500 response"
          }
        }
      },
      "put": {
        "tags": [
          "Receipt"
        ],
        "summary": "Edit receipt document.",
        "description": "แก้ไขข้อมูลเอกสารใบเสร็จรับเงิน ตามเลขที่เอกสารที่ต้องการและเอกสารต้องเป็นสถานะ รอดำเนินการ (Awaiting)",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "default": "Bearer accessToken"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ID เอกสารใช้ recordId",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/UpdateAllDocument"
        },
        "responses": {
          "200": {
            "description": "200 response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DocumentResponse"
                }
              }
            }
          },
          "401": {
            "description": "401 response"
          },
          "500": {
            "description": "500 response"
          }
        }
      },
      "delete": {
        "tags": [
          "Receipt"
        ],
        "summary": "Delete receipt document.",
        "description": "ลบ เอกสารใบเสร็จรับเงิน ตามเลขที่เอกสารที่ต้องการ <br> ** การลบเอกสาร เอกสารต้องอยู่ในสถานะ รอดำเนินการ ",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "default": "Bearer accessToken"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ID เอกสารใช้ recordId",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200 response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeleteResponse"
                }
              }
            }
          },
          "401": {
            "description": "401 response"
          },
          "500": {
            "description": "500 response"
          }
        }
      }
    },
    "/receipts/{id}/status/{statusId}": {
      "post": {
        "tags": [
          "Receipt"
        ],
        "summary": "Change status receipt document.",
        "description": "เปลี่ยนสถานะของเอกสารใบเสร็จรับเงิน สร้างเอกสารใหม่ครั้งแรกจะได้รับสถานะ รอดำเนินการ (awaiting)",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "default": "Bearer accessToken"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ID เอกสารใช้ recordId"
          },
          {
            "name": "statusId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "เปลี่ยนสถานะเอกสารได้ 1 สถานะ <br> void = ยกเลิก"
          }
        ],
        "responses": {
          "200": {
            "description": "200 response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DocumentResponse"
                }
              }
            }
          },
          "401": {
            "description": "401 response"
          },
          "500": {
            "description": "500 response"
          }
        }
      }
    },
    "/receipts/{id}/payment": {
      "post": {
        "tags": [
          "Receipt"
        ],
        "summary": "Change status is paid receipt document.",
        "description": "เก็บเงิน เอกสารใบเสร็จรับเงิน (เงินสด) เปลี่ยนสถานะเป็น เก็บเงินแล้ว",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "default": "Bearer accessToken"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ID เอกสารใช้ recordId หรือ documentId",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/PaymentReceivingDocument"
        },
        "responses": {
          "200": {
            "description": "200 response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DocumentResponse"
                }
              }
            }
          },
          "401": {
            "description": "401 response"
          },
          "500": {
            "description": "500 response"
          }
        }
      }
    },
    "/receipts/{id}/attachment": {
      "post": {
        "tags": [
          "Receipt"
        ],
        "summary": "Attachment receipt document.",
        "description": "แนบไฟล์ รูปภาพ หรือ เอกสารที่เกี่ยวข้อง ในเอกสารใบเสร็จรับเงิน ตามเลขที่เอกสารที่ต้องการ",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "default": "Bearer accessToken"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "documentId หรือ recordId ของเอกสารที่ต้องการแนบ",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary",
                    "description": "รูปแบบ file ที่ใช้แนบในเอกสารเป็นแบบ Binary"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200 response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AttachmentResponse"
                }
              }
            }
          },
          "401": {
            "description": "401 response"
          },
          "500": {
            "description": "500 response"
          }
        }
      }
    },
    "/receipts/{id}/attachment/base64": {
      "post": {
        "tags": [
          "Receipt"
        ],
        "summary": "Base64 attachment receipt document.",
        "description": "แนบไฟล์ รูปภาพ หรือ เอกสารที่เกี่ยวข้องในรูปแบบ base64 ในเอกสารใบเสร็จรับเงิน ตามเลขที่เอกสารที่ต้องการ",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "default": "Bearer accessToken"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "documentId หรือ recordId ของเอกสารที่ต้องการแนบ",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/AttachmentBase64"
        },
        "responses": {
          "200": {
            "description": "200 response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AttachmentBase64Response"
                }
              }
            }
          },
          "401": {
            "description": "401 response"
          },
          "500": {
            "description": "500 response"
          }
        }
      }
    },
    "/receipts/{id}/export-pdf/base64": {
      "post": {
        "tags": [
          "Receipt"
        ],
        "summary": "Export receipt document as PDF",
        "description": "ส่งออกเอกสารใบเสร็จรับเงินเป็นไฟล์ PDF ตามเลขที่เอกสารที่ต้องการ",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "default": "Bearer accessToken"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "documentId หรือ recordId ของเอกสารที่ต้องการส่งออก",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/ExportPdf"
        },
        "responses": {
          "200": {
            "description": "PDF content encoded as base64 string",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExportPdfResponse"
                }
              }
            }
          },
          "400": {
            "description": "400 response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExportPdfErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "401 response"
          },
          "500": {
            "description": "500 response"
          }
        }
      }
    },
    "/receipts/email-document": {
      "post": {
        "tags": [
          "Receipt"
        ],
        "summary": "Send email receipt document.",
        "description": "ส่งเอกสารใบเสร็จรับเงิน ผ่านทางอีเมล ตามเลขที่เอกสารที่ต้องการ",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "default": "Bearer accessToken"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200 response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SendEmailResponse"
                }
              }
            }
          },
          "401": {
            "description": "401 response"
          },
          "500": {
            "description": "500 response"
          }
        },
        "requestBody": {
          "$ref": "#/components/requestBodies/SendEmailCoppies"
        }
      }
    },
    "/receipts/sharedocument": {
      "post": {
        "tags": [
          "Receipt"
        ],
        "summary": "Share link receipt document.",
        "description": "แชร์ลิงค์ เอกสารใบเสร็จรับเงิน ที่ต้องการ จะได้รับลิงค์สำหรับแชร์และเรียกดูเอกสาร",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "default": "Bearer accessToken"
            }
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/ShareDocument"
        },
        "responses": {
          "200": {
            "description": "200 response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ShareDocumentResponse"
                }
              }
            }
          },
          "401": {
            "description": "401 response"
          },
          "500": {
            "description": "500 response"
          }
        }
      }
    },
    "/cash-invoices": {
      "get": {
        "tags": [
          "Cash Invoice"
        ],
        "summary": "Get all cash invoices documents",
        "description": "เรียกดูข้อมูลเอกสารใบกำกับภาษี/ใบเสร็จรับเงิน (เงินสด) ทั้งหมดในระบบ",
        "parameters": [
          {
            "in": "query",
            "name": "currentPage",
            "description": "Query current page document cash invoices. <br>Example Pattern: <ex>/cash-invoices?currentPage=1 </ex><ex>/cash-invoices?currentPage=1&pageSize=20</ex>",
            "schema": {
              "type": "integer"
            }
          },
          {
            "in": "query",
            "name": "pageSize",
            "description": "Query document cash invoices list amount per page. <br>Example Pattern: <ex> /cash-invoices?pageSize=20 </ex>",
            "schema": {
              "type": "integer"
            }
          },
          {
            "in": "query",
            "name": "searchString",
            "description": "Query document by Contact Name or Project Name or Document Serial. <br>Example Pattern: <ex> /cash-invoices?searchString=CA202101001</ex>",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "range",
            "description": "Query document range type. <br>0 = all<br>1 = Current Month<br>3 = Previous Month<br>5 = Date Range<br>7 = Current Year<br>9 = Previous Year<br>15 = Fiscal Year<br>Example Query Current Month: <ex> /cash-invoices?pageSize=20&currentPage=1&range=1</ex>",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "month",
            "description": "Query document by month.<br>Example Query Previous Month: <ex> /cash-invoices?pageSize=20&currentPage=1&range=1&month=5&year=2021</ex>",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "year",
            "description": "Query document by year.<br>Example Query Previous Year: <ex> /cash-invoices?currentPage=1&pageSize=20&range=9&year=2020</ex>",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "startDate",
            "description": "Query document by startDate to endDate.<br>Example Query Date Range: <ex> /cash-invoices?currentPage=1&pageSize=20&range=5&startDate=2021-05-20&endDate=2021-05-22</ex>",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "endDate",
            "description": "Query document by startDate to endDate.<br>Example Query Date Range: <ex> /cash-invoices?currentPage=1&pageSize=20&range=5&startDate=2021-05-20&endDate=2021-05-22</ex>",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "header",
            "name": "Authorization",
            "required": true,
            "schema": {
              "type": "string",
              "default": "Bearer accessToken"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200 response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetDocumentResponse"
                }
              }
            }
          },
          "401": {
            "description": "401 response"
          },
          "500": {
            "description": "500 response"
          }
        }
      },
      "post": {
        "tags": [
          "Cash Invoice"
        ],
        "summary": "Create cash invoices document.",
        "description": "สร้างเอกสารใบกำกับภาษี/ใบเสร็จรับเงิน (ขายสด) เมื่อสร้างสำเร็จสถานะเอกสารจะอยู่ในสถานะ รอดำเนินการ (awaiting)<br>ข้อมูลการสร้างเอกสารใบกำกับภาษี/ใบเสร็จรับเงิน (ขายสด) : https://flowaccount.com/ultimateguide/guide/ขายสด",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "default": "Bearer accessToken"
            }
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/CASimpleDocument"
        },
        "responses": {
          "200": {
            "description": "200 response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SimpleDocumentResponse"
                }
              }
            }
          },
          "401": {
            "description": "401 response"
          },
          "500": {
            "description": "500 response"
          }
        }
      }
    },
    "/cash-invoices/with-payment": {
      "post": {
        "tags": [
          "Cash Invoice"
        ],
        "summary": "Create cash invoices document with payment.",
        "description": "สร้างเอกสารใบกำกับภาษี/ใบเสร็จรับเงิน (ขายสด) พร้อมเก็บเงิน เมื่อสร้างสำเร็จสถานะเอกสารจะอยู่ในสถานะ เก็บเงินแล้ว (paid)<br>ข้อมูลการสร้างเอกสารใบกำกับภาษี/ใบเสร็จรับเงิน (ขายสด) : https://flowaccount.com/ultimateguide/guide/ขายสด",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "default": "Bearer accessToken"
            }
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/SimpleDocumentWithPaymentReceiving"
        },
        "responses": {
          "200": {
            "description": "200 response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SimpleDocumentWithPaymentResponse"
                }
              }
            }
          },
          "401": {
            "description": "401 response"
          },
          "500": {
            "description": "500 response"
          }
        }
      }
    },
    "/cash-invoices/inline": {
      "post": {
        "tags": [
          "Cash Invoice"
        ],
        "summary": "Create cash invoices document inline discount or inline vat.",
        "description": "สร้างเอกสารใบกำกับภาษี/ใบเสร็จรับเงิน (เงินสด) แบบส่วนลด หรือ ภาษี แยกตามรายการสินค้า เมื่อสร้างสำเร็จสถานะเอกสารจะอยู่ในสถานะ รอดำเนินการ (awaiting)<br>ข้อมูลการสร้างเอกสารใบกำกับภาษี/ใบเสร็จรับเงิน (ขายสด) : https://flowaccount.com/ultimateguide/guide/ขายสด",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "default": "Bearer accessToken"
            }
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/CAInlineDocument"
        },
        "responses": {
          "200": {
            "description": "200 response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InlineDocumentResponse"
                }
              }
            }
          },
          "401": {
            "description": "401 response"
          },
          "500": {
            "description": "500 response"
          }
        }
      }
    },
[...]
